@model VDolgah.group
@{
    ViewBag.Title = "Index";
}

<h2>Группа: @Model.name</h2>

<h3>Учасники</h3>
<div class="group-user-list">
@foreach (VDolgah.user user in Model.users)
{
    <div class="elem">
        @(user.first_name + " " + user.last_name)
    </div>
}
</div>